.req-field {
    color: red;
}

.btn-secondary {
    background-color: #8f6e6e;
    border-color: #8f6e6e;
}

#file_image,
#ddlcategory {
    cursor: pointer;
}

.no-record-found {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card-product-grid {
    margin-bottom: 20px;
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
}

.img-wrap img {
    height: 100%;
    width: 100%;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 12px 20px;
}

title, .desc, .category {
    color: #212529;
    display: block;
}

.cardtext{
    font-size: 1rem !important;
    font-weight: 500;
}

.align-box{
    padding-left: 20px;
}

.align-img{
    padding-left: 50px;
}

.img-view{
    width: 500px;
    height: 310px;
    object-fit: cover;
}

