@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
}

.form-group label.error, .form-outline label.error{
    font-size: 12px !important;
    color: red;
}

.logo_text{
    margin-left: 5px;
}


